@import url('./color.css');

.bg-home {
    background-image: url('/Pic/Home-Pic01.png');
    background-position: center;
    background-size: cover;
}

.dropdown-menu {
    min-width: 8rem !important;
}

.head {
    margin: 25px;
    color: white;
    background-color: black;
    min-height: fit-content;
    width: 95%;
    position: absolute;
}