@import url('./color.css');

.bg-home {
    background-image: url('/Pic/Home-Pic01.png');
    background-position: center;
    background-size: cover;
}

/* .dropdown-menu {
    min-width: 8rem !important;
} */

body {
    width: 100%;
    padding: 50px;
}

.row {
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0;
}